section.aboutme#about
  .col-title
    .title-text
      p about me
  .flex.flex-center
    .col-2
      .aboutme-copy
        p Hi, I'm Quinn. I used to help design buildings, manage projects and properties, and even produced mobile games for a while. Now I make websites. When I'm not petting dogs, watching X-Files, playing Counter-Strike, making websites, or learning new things, I can be found... wait, no that's all I do actually. Now I'm here, now you're here, let's make something happen.
