.mobile-nav
    ul
      li.nav: a(href="#top") top
      li.nav: a(href="#about") about
      li.nav: a(href="#skills") skills
      li.nav: a(href="#projects") portfolio
      li.nav: a(href="#testimonials") testimonials
      li.nav: a(href="#contact") contact

.header
  .header-position
    .logo
      h1 Quinn Myers
    .site-nav
      ul
        li.nav: a(href="#top") top
        li.nav: a(href="#about") about
        li.nav: a(href="#skills") skills
        li.nav: a(href="#projects") portfolio
        li.nav: a(href="#testimonials") testimonials
        li.nav: a(href="#contact") contact

    .bottom

    #mobile-button
      .center-line
      .center-line
      .center-line


//need to correctly add links later for both mobile and regular nav, consider using mixin

//adding .is active to the a underlines and changes color, but can't work with smooth scroll now
