section.portfolio#projects
  .portfolio-container
    .col-title
      p portfolio
    .flex.flex-center
      .col-2
        p.name robert riordan
    .flex.flex-center
      .col-1
        //robert
        .portfolio1
          .thumbnails1
            .one_thumb1
            .one_thumb2
            .one_thumb3
            .one_thumb4
              .home-btn
                p home

      .col-1
        .desc-container
          .desc
            p Robert Riordan is a fresh graduate of Webster Conservatory in St. Louis, MI. He is a very talented actor and singer just beginning to launch his exciting career. Robert needed a website to showcase his headshots and resume, as well as a hub and homebase for people wondering who he is and what he does.
            h4.tech-used technologies used
            p.tech gulp, jekyll, pug/html (jade), sass/css, javascript, custom flexbox grid, responsive design
            br
            p #[em link coming soon]


  section.portfolio
    .flex.flex-center
      .col-2
        p.name siq liquid
    .flex.flex-center
      .col-1
        //siq
        .portfolio2
          .thumbnails2
            .two_thumb1
            .two_thumb2
            .two_thumb3
              .home-btn
                p home
            .two_thumb4


      .col-1
        .desc-container
          .desc
            p Siq Liquid is a premium e-liquid manufacturer in Las Vegas, NV. It's also one of my old businesses. Never took off the way I hoped, but that's beside the point, I remade the website for practice and to gain experience in custom flex-box grids and responsive design.
            h4.tech-used technologies used
            p.tech gulp, jekyll, pug/html (jade), sass/css, javascript, custom flexbox grid, responsive design
            br
            p #[em link coming soon]

  section.portfolio
    .flex.flex-center
      .col-2
        p.name bluhare studios
    .flex.flex-center
      .col-1
        //blu hare
        .portfolio3
          .thumbnails3
            .three_thumb1
            .three_thumb2
            .three_thumb3
            .three_thumb4
              .home-btn
                p home

      .col-1
        .desc-container
          .desc
            p Bluhare Studios was in need of a website to serve as a portfolio showcasing the numerous titles they have worked on for Social & Mobile games and Real Money casino games.
            p I am especially proud of the portfolio section's functionality.
            h4.tech-used technologies used
            p.tech jekyll, bootstrap, javascript, html, sass/css, responsive design
            br
            p #[em link coming soon]
