section.nt-test
  .col-title
    p non-technical skills
  .flex.flex-center
    .col-1
      .nt-container

        .ntskill1
          .nticon1
          .ntprog1
            .progfill1
            .prog-name
              p verbal/written communication


        .ntskill2
          .nticon2
          .ntprog2
            .progfill2
            .prog-name
              p time management

        .ntskill3
          .nticon3
          .ntprog3
            .progfill3
            .prog-name
              p organization

        .ntskill4
          .nticon4
          .ntprog4
            .progfill4
            .prog-name
              p creativity

    .col-1
      .nt-text
        p If you aren't tech savvy, don't worry about the technical skills. They don't matter much to you. What does matter is that I can make you a beautiful website that works flawlessly on desktop, tablet, and mobile size.
        p Even more important to you is that the communication throughout your project will be painless, the project will be delivered on time or early, and the project will meet the needs of you or your business perfectly.
