section.skills-nt
  .col-title
    p non-technical skills
  .nt-skills
    .flex.flex-center.flex-space

      .col-1
        .nt-skill-container-1
          .nt-skill-1
            .nt-icon-1
            .nt-progress-1
              .nt-fill-1
              .nt-progress-name
                p written/verbal communication
          .nt-skill-2
            .nt-icon-2
            .nt-progress-2
              .nt-fill-2
              .nt-progress-name
                p organization


      .col-1
        .nt-skill-container-2
          .nt-skill-3
            .nt-icon-3
            .nt-progress-3
              .nt-fill-3
              .nt-progress-name
                p time management
          .nt-skill-4
            .nt-icon-4
            .nt-progress-4
              .nt-fill-4
              .nt-progress-name
                p creativity
