section.skills
  .col-title
    p technical skills
  .technical-skills
    .flex.flex-center.flex-space
      .col-1
        .skill-container-1
          .skill-1
            .icon-1
            .progress-1
              .fill-1
              .progress-name
                p html
          .skill-2
            .icon-2
            .progress-2
              .fill-2
              .progress-name
                p jquery
      .col-1
        .skill-container-2
          .skill-3
            .icon-3
            .progress-3
              .fill-3
              .progress-name
                p css
          .skill-4
            .icon-4
            .progress-4
              .fill-4
              .progress-name
                p bootstrap



//need to add the markup for the two skills panels, however long they will be
//both need to have set dimenions inside aligned to the center of the columns
// icon on left, name on bottom of icon
//skill slider on the right center aligned to the icon i think
//going to be a few flex containers
