section.nt-test
  .col-title
    p non-technical skills
  .flex.flex-center
    .col-1
      .nt-container

        .ntskill1
          .nticon1
          .ntprog1
            .progfill1

        .ntskill2
          .nticon2
          .ntprog2
            .progfill2

        .ntskill3
          .nticon3
          .ntprog3
            .progfill3

        .ntskill4
          .nticon4
          .ntprog4
            .progfill4

    .col-1
      .nt-text
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
