<section class="nt-test">
  <div class="col-title">
    <p>non-technical skills</p>
  </div>
  <div class="flex flex-center">
    <div class="col-1">
      <div class="nt-container">
        <div class="ntskill1">
          <div class="nticon1"></div>
          <div class="ntprog1">
            <div class="progfill1"></div>
          </div>
        </div>
        <div class="ntskill2">
          <div class="nticon2"></div>
          <div class="ntprog2">
            <div class="progfill2"></div>
          </div>
        </div>
        <div class="ntskill3">
          <div class="nticon3"></div>
          <div class="ntprog3">
            <div class="progfill3"></div>
          </div>
        </div>
        <div class="ntskill4">
          <div class="nticon4"></div>
          <div class="ntprog4">
            <div class="progfill4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="nt-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>
    </div>
  </div>
</section>