.aboutme
  display: flex
  background:
    color: #F0EDEE
    //image: url("/assets/images/aboutme_background.png")
    //repeat: no-repeat
  justify-content: center
  align-items: center
  .headshot
    display: flex
    border-radius: 100%
    height: 180px
    width: 180px
    background:
      image: url("/assets/images/headshot_2.jpg")
      position: 0px -60px
      size: cover
      repeat: no-repeat
      overflow: hidden
    margin: auto

  .aboutme-copy
    font-family: $mainfont
    color: $gunmetal
    .col-1

  .col-1:nth-child(2)
    max-width: 500px !important
