.jumbotron
  height: 300px
  display: flex
  align-content: center
  justify-content: flex-end
  width: 100%
  background:
    image: url("/assets/images/heroimage_300.png")
    repeat: no-repeat
    color: $gunmetal
  .tagline
    display: flex
    margin: auto
    text-align: center
    font-family: $mainfont
    font-size: 36px
    font-weight: bold
    color: white


@media (max-width: 860px)
  .jumbotron
    height: 200px
