.portfolio
  margin-top: 75px
  background: $yellowgreen
  .portfolio1
    display: flex
    width: 400px
    //change this height if i want to not include thumbnails
    height: 400px
    margin: auto
    background: red
      image: url("https://placehold.it/400x300")
      repeat: no-repeat
    .thumbnails1
      height: 100px
      width: 100%
      background-color: lightskyblue
      align-self: flex-end




  .desc-container
    display: flex
    align-items: center
    background: yellow
    .desc
      display: flex
      height: auto
      background: blue



@media (max-width: 860px)
  .portfolio1
    margin-bottom: 20px !important
