.skills
  justify-content: space-around
  height: auto
  background: lightgrey
  .section-title
    font-family: $mainfont
    font-weight: bold
    letter-spacing: 1px
    margin-top: -50px
    margin-left: 20px
    text-decoration: underline

  .skill-container-1
    display: flex
    width: auto
    height: auto
    background: lightskyblue


  .skill-container-2
    display: flex
    width: auto
    height: auto
    background: lightskyblue


  .flex-space
    .col-1
      max-width: 420px
      margin-bottom: 20px
